
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(180deg, #808080, #ffffff);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
}

.card {
    background-color: rgba(0, 0, 0, 0.75);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 8px 30px rgba(0,0,0,0.5);
    max-width: 450px;
}

.logo {
    width: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
}

h1 {
    color: #ffffff
    margin-bottom: 10px;
}

.description {
    color: #dcdcdc;
    margin-bottom: 25px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 25px;
}

.button {
    background-color: #004d66;
    color: white;
    padding: 10px 18px;
    border-radius: 10px;
    text-decoration: none;
    transition: background 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
}

.button:hover {
    background-color: #006680;
}

.button.discord { background-color: #808080; }
.button.discord:hover { background-color: #4752c4; }

.button.site { background-color: #00b894; }
.button.site:hover { background-color: #00997a; }

.footer p {
    font-size: 13px;
    color: #ccc;
}
